.text-field#Campo-busqueda {
    -fx-background-color: none;
    -fx-padding: 0px;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-family: "Agency FB";
    -fx-border-color: white;
    -fx-border-width: 0 0 2px 0;

}