#Grid-body {
    -fx-background-color: #000000;


}

#Panel-superior {
    -fx-background-color: linear-gradient(to left, #5d0ca8, #000000);
    -fx-background-radius: 30px 0px 0px 30px;

}

#Panel-titulo {
    -fx-background-color: none;



}

#Panel-inferior {
    -fx-background-color: linear-gradient(to left,rgba(5, 5, 5, 1) 1%, rgba(25, 7, 43, 1) 25%, rgba(93, 12, 168, 1) 52%, rgba(5, 5, 5, 1) 100%);
    -fx-background-radius: 30px;

}

#Panel-controles {
    -fx-background-color: linear-gradient(to right,rgba(0, 0, 0, 1), #050505);
    -fx-background-radius: 30px;

}

#Panel-izquierda {
    -fx-background-color: linear-gradient(to right, #5d0ca8, #000000);
    -fx-background-radius: 30px;
}

#Panel-logo {
    -fx-background-color: rgba(0, 0, 0, 0.56);
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;

}

#Panel-info {
    -fx-background-color: none;
}

