:root {
    --azul_alicia: #f0f8ff;
    --blanco_antiguo: #faebd7;
    --agua: #00ffff;
    --aguamarina: #7fffd4;
    --azur: #f0ffff;
    --beige: #f5f5dc;
    --crema_bisque: #ffe4c4;
    --negro: #000000;
    --almendra_blanqueada: #ffebcd;
    --azul: #0000ff;
    --azul_violeta: #8a2be2;
    --marron: #a52a2a;
    --madera_burly: #deb887;
    --azul_cadete: #5f9ea0;
    --verde_chartreuse: #7fff00;
    --chocolate: #d2691e;
    --coral: #ff7f50;
    --azul_aciano: #6495ed;
    --seda_maiz: #fff8dc;
    --carmesí: #dc143c;
    --cian: #00ffff;
    --azul_oscuro: #00008b;
    --cian_oscuro: #008b8b;
    --vara_dorada_oscura: #b8860b;
    --gris_oscuro: #a9a9a9;
    --verde_oscuro: #006400;
    --caqui_oscuro: #bdb76b;
    --magenta_oscuro: #8b008b;
    --verde_oliva_oscuro: #556b2f;
    --naranja_oscuro: #ff8c00;
    --orquidea_oscura: #9932cc;
    --rojo_oscuro: #8b0000;
    --salmon_oscuro: #e9967a;
    --verde_mar_oscuro: #8fbc8f;
    --azul_pizarra_oscuro: #483d8b;
    --gris_pizarra_oscuro: #2f4f4f;
    --turquesa_oscuro: #00ced1;
    --violeta_oscuro: #9400d3;
    --rosa_profundo: #ff1493;
    --azul_cielo_profundo: #00bfff;
    --gris_tenue: #696969;
    --azul_dodger: #1e90ff;
    --ladrillo_fuego: #b22222;
    --blanco_floral: #fffaf0;
    --verde_bosque: #228b22;
    --fucsia: #ff00ff;
    --gainsboro: #dcdcdc;
    --blanco_fantasma: #f8f8ff;
    --oro: #ffd700;
    --vara_dorada: #daa520;
    --gris: #808080;
    --verde: #008000;
    --verde_amarillo: #adff2f;
    --rocío_miel: #f0fff0;
    --rosa_fuerte: #ff69b4;
    --rojo_indio: #cd5c5c;
    --índigo: #4b0082;
    --marfil: #fffff0;
    --caqui: #f0e68c;
    --lavanda: #e6e6fa;
    --rubor_lavanda: #fff0f5;
    --verde_césped: #7cfc00;
    --limón_chiffon: #fffacd;
    --azul_claro: #add8e6;
    --coral_claro: #f08080;
    --cian_claro: #e0ffff;
    --amarillo_oro_claro: #fafad2;
    --gris_claro: #d3d3d3;
    --verde_claro: #90ee90;
    --rosa_claro: #ffb6c1;
    --salmon_claro: #ffa07a;
    --verde_mar_claro: #20b2aa;
    --azul_cielo_claro: #87cefa;
    --gris_pizarra_claro: #778899;
    --azul_acero_claro: #b0c4de;
    --amarillo_claro: #ffffe0;
    --lima: #00ff00;
    --verde_lima: #32cd32;
    --lino: #faf0e6;
    --magenta: #ff00ff;
    --granate: #800000;
    --aguamarina_media: #66cdaa;
    --azul_medio: #0000cd;
    --orquidea_media: #ba55d3;
    --purpura_medio: #9370db;
    --verde_mar_medio: #3cb371;
    --azul_pizarra_medio: #7b68ee;
    --verde_primavera_medio: #00fa9a;
    --turquesa_media: #48d1cc;
    --rojo_violeta_medio: #c71585;
    --azul_medianoche: #191970;
    --crema_menta: #f5fffa;
    --rosa_bruma: #ffe4e1;
    --mocasín: #ffe4b5;
    --blanco_navajo: #ffdead;
    --azul_marino: #000080;
    --encaje_viejo: #fdf5e6;
    --oliva: #808000;
    --oliva_oscura: #6b8e23;
    --naranja: #ffa500;
    --rojo_naranja: #ff4500;
    --orquidea: #da70d6;
    --vara_dorada_pálida: #eee8aa;
    --verde_pálido: #98fb98;
    --turquesa_pálida: #afeeee;
    --rojo_violeta_pálido: #db7093;
    --papaya: #ffefd5;
    --melocotón: #ffdab9;
    --perú: #cd853f;
    --rosa: #ffc0cb;
    --ciruela: #dda0dd;
    --azul_polvo: #b0e0e6;
    --púrpura: #800080;
    --rojo: #ff0000;
    --marron_rosado: #bc8f8f;
    --azul_real: #4169e1;
    --marron_silla: #8b4513;
    --salmon: #fa8072;
    --marron_arena: #f4a460;
    --verde_mar: #2e8b57;
    --concha_marina: #fff5ee;
    --siena: #a0522d;
    --plata: #c0c0c0;
    --azul_cielo: #87ceeb;
    --azul_pizarra: #6a5acd;
    --gris_pizarra: #708090;
    --nieve: #fffafa;
    --verde_primavera: #00ff7f;
    --azul_acero: #4682b4;
    --bronceado: #d2b48c;
    --verde_azulado: #008080;
    --cardo: #d8bfd8;
    --tomate: #ff6347;
    --turquesa: #40e0d0;
    --violeta: #ee82ee;
    --trigo: #f5deb3;
    --blanco: #ffffff;
    --blanco_humo: #f5f5f5;
    --amarillo: #ffff00;
    --verde_amarillo_oscuro: #9acd32;
    --transparente: rgba(0,0,0,0);
    --none: var(--transparente);
}