

#Panel-escenario {
    -fx-background-color: black;

}

#Grid-panel {
    -fx-background-color: linear-gradient(to right, #000000, #350460, #000000);
    -fx-background-radius: 30px;
    -fx-padding: 20px;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}

#Panel-central {
    -fx-background-color: linear-gradient(to top, #110221, #000000);
    -fx-background-radius: 50px;
    -fx-border-color: white;
    -fx-border-radius: 50px;

}

#Panel-user-contra {
    -fx-background-color: var(--none);
    -fx-background-radius: 10px;
    -fx-padding: 20px;
}