#Campo-busqueda {
    -fx-background-color: none;
    -fx-padding: 0px;
}   #Campo-busqueda.text-field {
    -fx-text-alignment: justify;
    -fx-alignment: center-left;
    -fx-font-size: 20px;

    }   #Campo-busqueda.label {
        -fx-font-size: 10;
        }


#Barra-progreso {
    -fx-background-color: white;

}   #Barra-progreso.Progress-bar {
        -fx-background-color: white;
        -fx-padding: 10px;


    }